@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

a {
    // padding: 0.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

// a:visited {
//     color: $light-gray;
// }

h1 {
    font-size: 2.1rem;
}

// h1 a:visited {
//     color: inherit;
// }

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    // padding: 0.5rem;
}

h1, h2, h3 {
    // padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: inherit;
}

.text {
    font-size: 1rem;
    line-height: 1.6;
    color: inherit;
    // padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.button {
    display: inline-block;
    // padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
    font-size: 1rem;
    color: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    text-decoration: underline;
}

.app-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $white;
    color: $black;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5rem 0 1.5rem;
}

.image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    & img {
        width: 100%;
        height: auto;
        max-height: 200px;
        min-height: 200px;
        display: block;
        object-fit: cover;
    }
}

header {
    // background-color: $gray;
    // color: $white;
    padding-top: 1rem;
    // padding-bottom: 1rem;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.projects-list {
    list-style: none;
    // max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    & li {
        padding: 0.8rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.02);
        }
    }   
}

footer {
    margin-bottom: 2rem;
}